/* setting the default font family */

body {
  background-color: rgb(29, 29, 29);
  color: azure;
}

/* setting the special header background */

.header-content {
  background: linear-gradient(to left, #0cbaba, purple, #380036);
}

/* logo styles */

.logo {
  color: white;
}

/* here bright means in bright mode */
.sun {
  color: #1a2238;
}

.switch {
  color: #1a2238;
}
/* the moon has the default font color ie azure */
/* the navbar code */

ul.navbar {
  background-color: #1d001c;
}

ul.navbar a:hover {
  transition: color 0.5s ease-out 0.01s;
  color: aqua;
}

/* making the navbar for smaller screens */

ul.small-navbar {
  background-color: #1d001c;
}

ul.small-navbar a:hover {
  transition: color 0.5s ease-out 0.01s;
  color: aquamarine;
  cursor: pointer;
}
/* mobile dropdown */

.dropdown-content {
  background-color: #380036;
  border: 1vw solid grey;
}

.dropdown-content a {
  border-bottom: 0.5vw solid grey;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

footer {
  background-color: #1d001c;
}

img {
  border: 1vw solid aquamarine;
}

/* for the homepage */
blockquote.dark-animated {
  border: 1vh solid aquamarine;
  background-color: #380036;
  color: #4db9b9;
  animation: dark-quote-color-SE 3s ease-in-out 0s infinite alternate;
  -webkit-animation: dark-quote-color-SE 3s ease-in-out 0s infinite alternate;
  -o-animation: dark-quote-color-SE 3s ease-in-out 0s infinite alternate;
  -moz-animation: dark-quote-color-SE 3s ease-in-out 0s infinite alternate;
  -ms-animation: dark-quote-color-SE 3s ease-in-out 0s infinite alternate;
}

/* for the QA pages */
#note {
  background-color: #380036;
}
