/* flex container */
.main-content {
  line-height: 35px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.muiz-image {
  margin: auto;
  max-width: 30vw;
  border-radius: 25%;
  border: 1vh solid #1a2238;
  float: left;
}

.darkmode-img-border {
  border: 1vh solid aquamarine;
}

@keyframes quote-color-SE {
  from {
    color: #ff6a3d;
  }
  to {
    color: beige;
  }
}
@keyframes dark-quote-color-SE {
  from {
    color: #4db9b9;
  }
  to {
    color: beige;
  }
}
blockquote {
  margin: auto;
  padding: 20px;
  font-weight: 1000;
  font-size: 4vw;
  line-height: 5vw;
  max-width: 40vw;
  align-self: center;
  font-style: oblique;
  border-radius: 10%;
}

blockquote.animated {
  border: 1vh solid #f4db7d;
  background-color: #1a2238;
  color: rgba(253, 109, 65, 0.99);
  animation: quote-color-SE 3s ease-in-out 0s infinite alternate;
  -webkit-animation: quote-color-SE 3s ease-in-out 0s infinite alternate;
  -o-animation: quote-color-SE 3s ease-in-out 0s infinite alternate;
  -moz-animation: quote-color-SE 3s ease-in-out 0s infinite alternate;
  -ms-animation: quote-color-SE 3s ease-in-out 0s infinite alternate;
}

#website-intro {
  align-self: center;
  text-align: justify;
  line-height: 3vw;
  font-size: 2vw;
  align-self: flex-end;
  width: 70vw;
}
@media screen and (max-width: 799px) {
  #website-intro {
    line-height: 4vw;
    font-size: 3vw;
  }
}

#welcome-header {
  font-family: "MonteCarlo", cursive;
  font-weight: 600;
  font-size: 5vw;
}
