/* setting the default font family */

body {
  margin: 0;
  animation: loading 2s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(194, 225, 255, 0.795);
  color: #1a2238;
  font-size: 2vw;
/*   touch-action: none; /*for touchscreen devices*/ */
  /*for the user select*/
  user-select: none;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* setting the link formats */

a {
  text-decoration: underline;
  font-style: italic;
  color: #ec4d1c;
}

/* selecting every header */

h1 {
  font-family: "MonteCarlo", cursive;
  font-weight: 600;
  font-size: 7vw;
}

h2 {
  font-family: "MonteCarlo", cursive;
  font-weight: 600;
  font-size: 4vw;
}

/* setting the special header background */

.header-content {
  /*below is the code for adding the animation 
  position: relative;
  z-index: 2; */
  background: linear-gradient(
    to bottom right,
    rgb(255, 186, 59),
    wheat,
    azure,
    lightblue,
    darkblue
  );
  background-repeat: no-repeat;
  width: auto;
  margin-bottom: 0;
}

/* logo styles */

.logo {
  font-family: "Style Script", cursive;
  width: auto;
  font-size: 15vw;
  position: static;
  display: inline-block;
  color: #1a2238;
  text-decoration: none;
  font-style: normal;
}

/* here bright means in bright mode */
.sun {
  color: rgb(250, 255, 175);
  margin-left: 6%;
  margin-right: 3px;
  font-size: 3vw;
}

.switch {
  cursor: pointer;
  font-size: 3vw;
}

.moon {
  margin-left: 1px;
  font-size: 2.7vw;
}
/* the navbar code*/
/*add this for the animation
div.navbar-container {
  position: relative;
  z-index: 1;
} */

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #1a2238;
  display: flex;
  justify-content: space-evenly;
}

ul.navbar > li {
  float: left;
  padding: 1vh 0px;
}

ul.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2.5vw;
}

ul.navbar a:hover {
  transition: color 0.5s ease-out 0.01s;
  color: #ff6a3d;
}

/* making the navbar for smaller screens */

ul.small-navbar {
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #1a2238;
  display: flex;
  justify-content: space-around;
}

ul.small-navbar > li {
  float: left;
}

ul.small-navbar a {
  color: whitesmoke;
  text-decoration: none;
  height: 3.3vw;
}

ul.small-navbar a:hover {
  transition: color 0.5s ease-out 0.01s;
  color: #ff6a3d;
  cursor: pointer;
}

#menu {
  margin: auto;
}

/* styling navbar icons */
.navbar-icons {
  color: white;
  font-size: 3vw;
  cursor: pointer;
  margin: 5px;
}
/* mobile dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  right: 17vw;
  background-color: #1a2238;
  text-align: center;
  opacity: 1;
  width: 15vw;
  overflow: auto;
  border: 1vw solid rgba(255, 68, 0, 0.9);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.dropdown-content a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
  font-size: 3vw;
  padding: 3vw;
  border-bottom: 0.5vw solid #ec4d1c;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

div.dropdown-content a:nth-child(2) {
  padding-bottom: 6vw;
}

/* dropdown visibility reset */
.show-dropdown {
  display:block;
}

/* creating media queries for small devices */

@media screen and (min-width: 800px) {
  ul.small-navbar {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  ul.navbar {
    display: none;
  }
}

footer {
  margin-top: 15vh;
  height: 30vh;
  background-color: #1a2238;
  color: aliceblue;
  font-size: 2vw;
  text-align: center;
}
